/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

html,
body {
  height: 100%;
}

.navbar {
  height: 60px;
}


main {
  /* height: calc(100% - 60px); */
  height: 100%;
  /* padding: 60px 10px; */
  padding: 45px 10px;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.cg-container {
  /* height: 100%; */
  width: 100%;
  /* margin-top: 1rem; */
  /* margin-bottom: 1rem; */
  display: flex;
  flex-direction: column;
  padding: 0 18rem;
}

table {
  width: 100%;
  display: flex;
  justify-content: center;
}

table td {
  padding: 10px;
}

table td .card {
  /* width: 100%; */
  width: 60px;
  height: 60px;
  color: #000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
